.hero-area{
    background: #f1f2f3;
}


.hero-area-content{
    padding: 100px 0 220px 0;
    text-align: center;
}
.heading{
    font-size: 40px;
    color: #000;
    font-weight: bold;
    padding-bottom: 20px;
}
.hero-area-input{
    width: 26%;
    height: 40px;
    background: #fafafa;
    border: 1px solid rgb(130, 117, 117);
    position: relative;
    border-radius: 10px;
}
.search{
    height: 40px;
    position: absolute;
    background: #3f90fc;
    padding: 8px 30px;
    border: none;
    border-radius: 0 9px 9px 0 ;
    color: #fff;
    right: 37%;
}
::placeholder{
    padding-left: 10px !important;
    color: gray;
}