a{
    color: #000 !important;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px !important;
    display: inline-block;
    text-decoration: none !important;
}
.register{
    background: #3f90fc;
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 30px;
}
.admin{
    background: #424040;
    padding: 8px 35px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 20px;
}